body{
    background: rgba(0, 26, 255, 0.781);
}
.one{
    margin: 180px auto;
}
p{
    font-size: 70px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
}
h1{
    font-size: 80px;
    text-align: center;
    color: azure;
    background-color: rgb(107, 13, 13);
}
